:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, html {
    margin: 0;
    padding: 0;
}
#stats {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 150px;
}
.stat {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.stat > * {
    white-space: nowrap;
}